:root {

    /* Color palette
     * https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd
     */
    --darkest: #0D1B2A;
    --dark: #1B263B;
    --mid: #415A77;
    --light: #778DA9;
    --lightest: #E0E1DD;
}

body {
    background-color: var(--darkest);
    color: var(--lightest);
}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

.fancybox {
	background-color: var(--dark);
	width: 20em;
	padding: 1em;
    margin: 1em;
	border-radius: 7px;
    display: inline-block;
}

.fancybox-head {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}

.center {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.centered-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	text-shadow: black 0 0 10px;
	font-size: 50px;
}
.heading {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
    border-radius: 10px;
}

.heading img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.heading:hover img {
    transform: scale(120%);
}

.heading:active {
    filter: brightness(110%);
}
